h1 {
	color: #d04764;
	font-family: 'Lobster', cursive;
	font-size: 36px;
	font-weight: normal;
	line-height: 48px;
	margin: 0 0 18px;
  text-shadow:1px 0 0 #fff;
  text-align : center;
}
body {
  background:#fffeee;
}

h3 {
	color: #2CA4B0;
	font-family: 'Oleo Script', cursive;
	font-size: 24px;
	font-weight: normal;
	line-height: 32px;
	margin: 0 0 18px;
        text-shadow:1px 0 0 #fff;
}

p {
	color: #333;
	font-family: 'Original Surfer', cursive;
	font-size: 16px;
	line-height: 28px;
	margin: 0 0 24px;
  background-color: #e7edec;
}

img {
  height:150px;
  width:100px;
  left-margin:500px;
}

